[submodule "roles/ansible-role-mongodb"]
	path = roles/ansible-role-mongodb
	url = https://github.com/Ilyes512/ansible-role-mongodb.git
[submodule "roles/roles/ilyes512.mongodb"]
	path = roles/roles/ilyes512.mongodb
	url = https://github.com/Ilyes512/ansible-role-mongodb.git
[submodule "roles/ilyes512.mongodb"]
	path = roles/ilyes512.mongodb
	url = https://github.com/Ilyes512/ansible-role-mongodb.git
[submodule "rol2"]
	path = roles/ansible-role-mongodb
	url = https://github.com/UnderGreen/ansible-role-mongodb.git
